<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
    <display-name>Online Tiffin Service</display-name>
    <absolute-ordering/>


    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>servlets.Home</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>




    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>OtpGenerator</servlet-name>
        <servlet-class>servlets.OtpGenerator</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OtpGenerator</servlet-name>
        <url-pattern>/otp_request</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>servlets.Delete</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>servlets.AdminLogout</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/admin_logout</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Menu</servlet-name>
        <servlet-class>servlets.Menu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>servlets.Registration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminSection</servlet-name>
        <servlet-class>servlets.AdminSection</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminSection</servlet-name>
        <url-pattern>/admin_section</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>servlets.Profile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>servlets.Payment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>servlets.AdminLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/admin_login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PaymentHandler</servlet-name>
        <servlet-class>servlets.PaymentHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentHandler</servlet-name>
        <url-pattern>/payment_handler</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>MealRegistration</servlet-name>
        <servlet-class>servlets.MealRegistration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MealRegistration</servlet-name>
        <url-pattern>/meal_registration</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Dispatched</servlet-name>
        <servlet-class>servlets.DispatchOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dispatched</servlet-name>
        <url-pattern>/dispatched</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>History</servlet-name>
        <servlet-class>servlets.History</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>servlets.Update</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>/views/home.jsp</welcome-file>
    </welcome-file-list>


    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filters.LoginAuthenticationFilter</filter-class>
    </filter>

    <filter>
        <filter-name>AdminLoginFilter</filter-name>
        <filter-class>filters.AdminLoginAuthenticationFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/profile</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/menu</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/payment</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/update</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AdminLoginFilter</filter-name>
        <url-pattern>/admin_section</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/history</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AdminLoginFilter</filter-name>
        <url-pattern>/meal_registration</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/update</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/payment_handler</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/logout</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/delete</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminLoginFilter</filter-name>
        <url-pattern>/admin_logout</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AdminLoginFilter</filter-name>
        <url-pattern>/dispatched</url-pattern>
    </filter-mapping>

</web-app>